.imageContainer{
    background-color: #FFECEC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12%;
    position: relative;
    padding-left: 12%;
    bottom: 40px;
}